<a href="https://colab.research.google.com/github/bryanfandawa/regex-data-cleaning/blob/main/regex_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving my_file (1).csv to my_file (1).csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['my_file (1).csv']))

In [ ]:
df.head()

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [ ]:
df.shape

(20, 11)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [ ]:
df.isna().sum()

Rank                                 0
Peak                                11
All Time Peak                       14
Actual gross                         0
Adjusted gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

In [ ]:
percentage = (df.isna().sum() / len(df))
percentage

Rank                                0.00
Peak                                0.55
All Time Peak                       0.70
Actual gross                        0.00
Adjusted gross (in 2022 dollars)    0.00
Artist                              0.00
Tour title                          0.00
Year(s)                             0.00
Shows                               0.00
Average gross                       0.00
Ref.                                0.00
dtype: float64

Based on the code above, we can see that Peak's data consist of 55% of NAs and All Time Peak has 70%

In [ ]:
import re
df.columns = df.columns.str.replace(r'\xa0', ' ', regex = True)
print(df.columns.tolist())

['Rank', 'Peak', 'All Time Peak', 'Actual gross', 'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)', 'Shows', 'Average gross', 'Ref.']

\xa0 is somewhat a space that is usually obtained when you load data from excel or html. It looks like a real space, but its not. Its a good practice to do this to all of your columns in all your datasets to ensure consistency.

In [ ]:
for col in df.columns:
  cleaned = re.sub(r'\s+', '_', col.strip()).lower()
  print(cleaned)

rank
peak
all_time_peak
actual_gross
adjusted_gross_(in_2022_dollars)
artist
tour_title
year(s)
shows
average_gross
ref.

In [ ]:
(df.columns.str.replace(r'\s+', '_', regex = True).str.lower().tolist())

['rank',
 'peak',
 'all_time_peak',
 'actual_gross',
 'adjusted_gross_(in_2022_dollars)',
 'artist',
 'tour_title',
 'year(s)',
 'shows',
 'average_gross',
 'ref.']

There are two ways you could rename your columns. First using pandas and second using re.sub

pandas is more advanced because it automatically iterates through the whole df.columns

while re.sub you have to do a for loop inside

In [ ]:
df.columns = (df.columns.str.replace(r'\s+', '_', regex = True).str.lower().tolist())

In [ ]:
df.rename(columns = {
    'adjusted_gross_(in_2022_dollars)': 'adjusted_gross_2022(dollars)',
    'year(s)':'years'
}, inplace = True)

In [ ]:
df.columns.tolist()

['rank',
 'peak',
 'all_time_peak',
 'actual_gross',
 'adjusted_gross_2022(dollars)',
 'artist',
 'tour_title',
 'years',
 'shows',
 'average_gross',
 'ref.']

In [ ]:
df = df.drop(columns = ["peak", "all_time_peak"])

In [ ]:
df.head(15)

,rank,actual_gross,adjusted_gross_2022(dollars),artist,tour_title,years,shows,average_gross,ref.
0,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]

Now working on with rows. When we want to do a str operation and regex, we need to convert it to String. so astype(Str).str.replace(...) if the datatype is not yet a string. In this case its already a string, so its unecessary to convert it to a string.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rank                          20 non-null     int64
 1   actual_gross                  20 non-null     object
 2   adjusted_gross_2022(dollars)  20 non-null     object
 3   artist                        20 non-null     object
 4   tour_title                    20 non-null     object
 5   years                         20 non-null     object
 6   shows                         20 non-null     int64
 7   average_gross                 20 non-null     object
 8   ref.                          20 non-null     object
dtypes: int64(2), object(7)
memory usage: 1.5+ KB

In [ ]:
df["actual_gross"] = df["actual_gross"].str.replace(r'[^0-9.]', '', regex = True).astype(float)

In [ ]:
df["adjusted_gross_2022(dollars)"] = df["adjusted_gross_2022(dollars)"].str.replace(r'[^0-9.]', '', regex = True).astype(float)

In [ ]:
df["average_gross"] = df["average_gross"].str.replace(r'[^0-9.]', '', regex = True).astype(float)

We also need to remove accents and diactritics from characters. Such as Beyoncé. We need to first import unicodedata

In [ ]:
import unicodedata
def rem_accents(text):
  text = unicodedata.normalize('NFKD', text)
  text = re.sub(r'[\u0300-\u036f]', '', text)
  return text

df["artist"] = df["artist"].apply(rem_accents)

Let us remove all the unique symbols from tour_title column

In [ ]:
df["tour_title"].unique()

array(['The Eras Tour †', 'Renaissance World Tour',
       'Sticky & Sweet Tour ‡[4][a]', 'Beautiful Trauma World Tour',
       'Reputation Stadium Tour', 'The MDNA Tour',
       'Taking Chances World Tour', 'Summer Carnival †',
       'The Formation World Tour', 'The 1989 World Tour',
       'The Mrs. Carter Show World Tour', 'The Monster Ball Tour *',
       'Prismatic World Tour', 'Living Proof: The Farewell Tour ‡[21][a]',
       'Confessions Tour', 'The Truth About Love Tour',
       'Born This Way Ball', 'Rebel Heart Tour', 'Adele Live 2016',
       'The Red Tour'], dtype=object)

In [ ]:
def remove_symbols(text):
  text = re.sub(r'\[.*?\]', '', text)
  text = re.sub(r'[†‡*]', '', text)
  return text.strip()

df["tour_title"] = df["tour_title"].astype(str).apply(remove_symbols)

Cleaning for "years"

In [ ]:
df["years"].unique()

array(['2023–2024', '2023', '2008–2009', '2018–2019', '2018', '2012',
       '2016', '2015', '2013–2014', '2009–2011', '2014–2015', '2002–2005',
       '2006', '2012–2013', '2015–2016', '2016–2017'], dtype=object)

In [ ]:
df["years"] = df["years"].str.strip()
df["years"] = df["years"].str.replace('–', '-')

Let us try to make a new column named year_start and year_end

In [ ]:
df[["year_start", "year_end"]] = df["years"].str.extract(r'(\d{4})-?(\d{4})?')
#the regex code above for \d means all digits from 0-9
#{4} means exactly 4 numbers, closed by the parenthesis (group 1)
#-? means there could be a - or non, giving a heads up
#same for the second group that ends with a ? because there could be a year.
df["year_end"] = df["year_end"].fillna(df["year_start"])

df["years"].str.extract(r'(?P<start>\d{4})-?(?P<end>\d{4})?')

a code that could automatically make a new column named start and end using ?P<>

In [ ]:
df = df.drop(columns = ["years"])

In [ ]:
df["ref."].unique()

array(['[1]', '[3]', '[6]', '[7]', '[8]', '[9]', '[11]', '[12]', '[13]',
       '[14]', '[15][16]', '[18]', '[19]', '[20]', '[5]', '[22]', '[d]',
       '[4]', '[25]', '[26]'], dtype=object)

In [ ]:
df["ref."] = df["ref."].str.replace(r'\[|\]', '', regex = True)

In [ ]:
df.head()

,rank,actual_gross,adjusted_gross_2022(dollars),artist,tour_title,shows,average_gross,ref.,year_start,year_end
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour,56,13928571.0,1,2023,2024
1,2,579800000.0,579800000.0,Beyonce,Renaissance World Tour,56,10353571.0,3,2023,2023
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,85,4835294.0,6,2008,2009
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,156,2546795.0,7,2018,2019
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,53,6522173.0,8,2018,2018

In [ ]:
df

,rank,actual_gross,adjusted_gross_2022(dollars),artist,tour_title,shows,average_gross,ref.,year_start,year_end
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour,56,13928571.0,1,2023,2024
1,2,579800000.0,579800000.0,Beyonce,Renaissance World Tour,56,10353571.0,3,2023,2023
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,85,4835294.0,6,2008,2009
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,156,2546795.0,7,2018,2019
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,53,6522173.0,8,2018,2018
5,6,305158363.0,388978496.0,Madonna,The MDNA Tour,88,3467709.0,9,2012,2012
6,7,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,131,2137405.0,11,2008,2009
7,7,257600000.0,257600000.0,Pink,Summer Carnival,41,6282927.0,12,2023,2024
8,9,256084556.0,312258401.0,Beyonce,The Formation World Tour,49,5226215.0,13,2016,2016
9,10,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,85,2945882.0,14,2015,2015
10,11,229100000.0,283202896.0,Beyonce,The Mrs. Carter Show World Tour,132,1735606.0,1516,2013,2014
11,12,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,203,1118227.0,18,2009,2011
12,13,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,151,1350993.0,19,2014,2015
13,14,200000000.0,299676265.0,Cher,Living Proof: The Farewell Tour,325,615385.0,20,2002,2005
14,15,194000000.0,281617035.0,Madonna,Confessions Tour,60,3233333.0,5,2006,2006
15,16,184000000.0,227452347.0,Pink,The Truth About Love Tour,142,1295775.0,22,2013,2014
16,17,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,98,1734694.0,d,2012,2013
17,18,169800000.0,207046755.0,Madonna,Rebel Heart Tour,82,2070732.0,4,2015,2016
18,19,167700000.0,204486106.0,Adele,Adele Live 2016,121,1385950.0,25,2016,2017
19,20,150000000.0,185423109.0,Taylor Swift,The Red Tour,86,1744186.0,26,2013,2014